@import url('https://fonts.googleapis.com/css2?family=Recursive:wght,CRSV,MONO@300..1000,0,0..1&display=swap');

* {
	box-sizing: border-box;
	font-family: 'Recursive', monospace;
	--mono: "MONO" 0;
	--casl: "CASL" 0;
	--wght: "wght" 400;
	--slnt: "slnt" 0;
	--CRSV: "CRSV" 0;
	font-variation-settings: var(--mono), var(--casl), var(--wght), var(--slnt), var(--CRSV);
	-webkit-font-smoothing: antialiased;
}

html {
	font-size: 10px;
}

body {
	padding: 0;
	background-color: black;
	color: white;
	margin: 0;
}

a {
	color: inherit;
	text-decoration: inherit;

	&:visited {
		color: inherit;
	}
}

button {
	border: none;
	background-color: inherit;
	color: inherit;
	margin: 0;
	padding: 0;
	cursor: pointer;
}
