.Options {
	font-size: 1.6rem;
	display: flex;
	justify-content: flex-end;
	width: 100%;
	min-width: 58rem;
	padding: 1rem;
	min-height: 3.6rem;

	&.minimized-true {
		min-width: 0;
		min-height: 0;
		padding: 0.5rem;
	}

	svg {
		margin: 0 0 0 1rem;
	}

	button {
		&:first-of-type {
			svg {
				margin: 0;
			}
		}
	}
}
