.double-tap-catcher {
	position: fixed;
	width: 100vw;
	height: 100vh;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}

.Settings {
	position: fixed;
	width: 100vw;
	height: 100vh;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;

	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;

	color: rgba(255, 255, 255, 0.8);

	.close {
		cursor: pointer;
		
		margin: -0.6rem 0 -0.5rem 0.3rem;
		font-size: 0.7rem;
		width: 100%;
		text-align: right;
	}

	.window {
		display: grid;
		grid-template-areas: 'menu' 'content';
		grid-template-columns: 5rem 1fr;
		padding: 1.2rem;
		border-radius: 1.2rem;
		width: 25rem;
		height: auto;
		transition: ease 0.5s background-color;
	}

	.menu {
		grid-area: 'menu';
		height: 100%;

		ul {
			list-style: none;
			padding: 0;
			margin: 0;

			li {
				font-size: 0.9rem;
				font-weight: 300;
				text-transform: lowercase;
				cursor: pointer;

				&.active {
					//text-decoration: underline;
					font-weight: 900;
				}

				&:hover {
					text-decoration: underline;
				}
			}
		}
		border-right: 1px solid white;
	}

	.items {
		padding: 0 0 0 1rem;
		grid-area: 'content';
		height: 100%;

		input[type="text"], input[type="password"] {
			background-color: transparent;
			border: 1px solid rgba(255, 255, 255, 0.8);
			padding: 0.4rem;
			color: white;
			width: 100%;
		}

		.item {
			padding-bottom: 1.2rem;
			margin-bottom: 1.2rem;
			border-bottom: 1px solid rgba(255, 255, 255, 0.2);

			&:last-of-type {
				padding-bottom: 0;
				margin-bottom: 0;
				border-bottom: none;
			}

			h2 {
				font-size: 1rem;
				font-weight: 600;
				padding: 0;
				margin: 0 0 0.3rem 0;
				font-style: italic;
				text-transform: lowercase;
				color: rgba(255, 255, 255, 0.9);
				width: 100%;
			}
		}

		.position {
			.position-grid {
				width: 10rem;
				height: 10rem;
				z-index: 1;
				display: grid;
				grid-template-columns: repeat(3, 1fr);
				cursor: pointer;

				div {
					border: 1px solid rgba(255, 255, 255, 0.8);
				}

				.selected {
					background-color: rgba(255, 255, 255, 0.4);
				}
			}
		}

		.yes-no {
			span {
				cursor: pointer;
				color: white;
				text-decoration: line-through;
				font-weight: 300;

				&.selected {
					text-decoration: none;
					font-weight: 500;
				}
			}
		}

		// .background {
		// 	input {
		// 		background-color: transparent;
		// 		border: 1px solid rgba(255, 255, 255, 0.8);
		// 		padding: 0.4rem;
		// 		color: white;
		// 		width: 100%;
		// 	}
		// }

		.opacity {
			display: flex;
			flex-direction: column;
			align-items: center;

			input {
				width: 100%;
			}
		}
	}
}
