.double-tap-catcher {
	position: fixed;
	width: 100vw;
	height: 100vh;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}

.Settings {
	position: fixed;
	width: 100vw;
	height: 100vh;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;

	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;

	color: rgba(255, 255, 255, 0.8);

	.close {
		cursor: pointer;
		
		margin: -0.6rem 0 -0.5rem 0.1rem;
		font-size: 0.7rem;
		width: 100%;
		text-align: right;
	}

	.window {
		display: grid;
		grid-template-areas: 'menu' 'content';
		grid-template-columns: 10rem 1fr;
		padding: 0.6rem;
		border-radius: var(--radius-default);
		width: 40rem;
		height: 90vh;
		background-color: rgba(0, 0, 0, 1);
		transition: ease 0.5s background-color;
	}

	.menu {
		grid-area: 'menu';
		
		ul {
			list-style: none;
			padding: 0;
			margin: 0;
			background-color: rgba(255, 255, 255, 0.05);
			padding: 0.6rem;
			border-radius: calc(var(--radius-default) * 0.5);
			display: flex;
			flex-direction: column;
			gap: 0.2rem;

			li {
				font-size: 0.9rem;
				font-weight: 300;
				text-transform: lowercase;
				cursor: pointer;
				display: flex;
				flex-direction: row;
				align-items: center;
				justify-content: space-between;
				padding: 0.3rem 0.4rem;
				border-radius: calc(var(--radius-default) * 0.25);

				svg {
					margin-left: 0.5rem;
				}

				&:hover {
					font-weight: 500;
					background-color: rgba(255, 255, 255, 0.02);
				}

				&.active {
					//text-decoration: underline;
					font-weight: 500;
					background-color: rgba(255, 255, 255, 0.05);
				}

				

				&.hidden {
					opacity: 0.6;
					text-decoration: line-through;
				}
			}
		}
	}

	.items {
		padding: 0.4rem 0 0 1rem;
		grid-area: 'content';
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		overflow-y: scroll;
		overflow-x: hidden;

		input[type="text"], input[type="password"] {
			background-color: transparent;
			border: 1px solid rgba(255, 255, 255, 0.8);
			padding: 0.4rem;
			color: white;
			width: 16rem;
		}

		.item {
			padding-bottom: 1.2rem;
			margin-bottom: 1.2rem;
			border-bottom: 1px solid rgba(255, 255, 255, 0.2);
			width: 100%;
			display: flex;
			flex-direction: column;
			align-items: flex-start;

			&:last-of-type {
				padding-bottom: 0;
				margin-bottom: 0;
				border-bottom: none;
			}

			h2 {
				font-size: 1rem;
				font-weight: 600;
				padding: 0;
				margin: 0 0 0.3rem 0;
				font-style: italic;
				text-transform: lowercase;
				color: rgba(255, 255, 255, 0.9);
				width: 100%;
			}
		}

		.position {
			.position-grid {
				width: 10rem;
				height: 10rem;
				z-index: 1;
				display: grid;
				grid-template-columns: repeat(3, 1fr);
				cursor: pointer;

				div {
					border: 1px solid rgba(255, 255, 255, 0.8);
				}

				.selected {
					background-color: rgba(255, 255, 255, 0.4);
				}
			}
		}

		.yes-no {
			.options {
				cursor: pointer;
			}

			span {
				color: white;
				text-decoration: line-through;
				font-weight: 300;

				&.selected {
					text-decoration: none;
					font-weight: 500;
				}
			}
		}

		// .background {
		// 	input {
		// 		background-color: transparent;
		// 		border: 1px solid rgba(255, 255, 255, 0.8);
		// 		padding: 0.4rem;
		// 		color: white;
		// 		width: 100%;
		// 	}
		// }

		.slider {
			display: flex;
			flex-direction: column;
			align-items: center;

			input {
				width: 16rem;
			}
		}

		.component-order {
			.order-items {
				display: flex;
				flex-direction: column;

				.order-item {
					width: 100%;
					display: flex;
					justify-content: space-between;
					align-items: center;

					&.hidden {
						opacity: 0.6;
						text-decoration: line-through;
					}

					.filler {
						width: 19.2px;
						display: inline-block;
					}

					.icon {
						font-size: 1.2rem;
						margin-left: 0.2rem;
						cursor: pointer;
					}
				}
			}
		}

		.youtube-videoId {
			display: flex;
			flex-direction: column;
			align-items: flex-start;

			.suggestions {
				display: flex;
				flex-wrap: wrap;
				gap: 0.2rem;
				margin: 0.6rem 0;

				img {
					height: 4.1rem;
					width: 7.2rem;
					object-fit: cover;
					cursor: pointer;
					border-radius: 0.3rem;
				}
			}
		}

		.bookmarks {
			display: flex;
			flex-direction: column;
			gap: 0.6rem;

			button {
				background-color: rgba(255, 255, 255, 0.1);
				border: 1px solid rgba(255, 255, 255, 0.2);
				color: white;
			}

			.bookmark-input {
				display: flex;
				flex-direction: column;
				gap: 0.4rem;
				align-items: flex-start;
				background-color: rgba(255, 255, 255, 0.05);
				padding: 0.6rem;
				border-radius: calc(var(--radius-default) / 2);
				width: 100%;

				input {
					border: none;
					background-color: rgba(255, 255, 255, 0.05);
					border-radius: calc(var(--radius-default) / 2);
					width: 100%;
				}

				.name {
					font-size: 1rem;
				}

				.location {
					font-size: 0.6rem;
				}
			}
		}
	}
}
