.YouTube {
	padding: 0;
	border-radius: var(--radius-default);
	overflow: hidden;
	
	.viewers {
		font-size: 0.8rem;
		font-weight: 500;
		padding: 0.6rem max(calc(var(--radius-default)), 0.8rem);
		display: flex;
		align-items: center;
		gap: 0.6rem;
	}

	.pulsating-circle {
		background-color: var(--color);
		min-width: 0.4rem;
		min-height: 0.4rem;
		border-radius: 0.6rem;
		position: relative;
		display: flex;
		align-items: center;
		justify-content: center;
		cursor: pointer;
		//margin-top: 0.1rem;

		&::after {
			content: '';
			position: absolute;
			background-color: var(--color);
			min-width: 1.1rem;
			min-height: 1.1rem;
			border-radius: 1.1rem;
			opacity: 0.5;
			animation: pulsating-circle 4s linear infinite;
		}
	}

	.player {
		position: relative;

		.overlay {
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			cursor: pointer;
		}
	}
}

@keyframes pulsating-circle {
	0% {
		min-width: 0.4rem;
		min-height: 0.4rem;
		opacity: 1;
	}

	20% {
		min-width: 1.5rem;
		min-height: 1.5rem;
		opacity: 0;
	}

	100% {
		opacity: 0;
	}
}
